<?xml version='1.0' encoding='utf-8'?>
<widget id="APNBookmarks" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>APNBookmarks</name>
    <description>
        A Page of Dev JchanKchan. It bookmarks APN config profiles
    </description>
    <author email="devjchankchan@gmail.com" href="https://twitter.com/devjchankchan">
        Dev Jchan Kchan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
</widget>
